.warranties {
    height: 80vh;
    overflow-y: scroll;
}

/* .WarrantyContainer h1 {
    font-family: shockWave;
    letter-spacing: 0.2em;
}

@font-face {
    font-family: shockWave;
    src: url('/SHOCKWAVE FREE.otf');
} */