#logo{
    position: absolute;
    top: 25%;
    left:15%;
    transform: translate(-50%, - 50%);
    animation: fill 0.5s ease forwards 3.5s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 673.343994140625;
    stroke-dashoffset: 673.343994140625;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 673.343994140625;
    stroke-dashoffset: 673.343994140625;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 1012.89111328125;
    stroke-dashoffset: 1012.89111328125;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 797.8555297851562;
    stroke-dashoffset: 797.8555297851562;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 935.688232421875;
    stroke-dashoffset: 935.688232421875;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 453.88800048828125;
    stroke-dashoffset: 453.88800048828125;
    animation: line-anim 2s ease forwards 1.5s;  
}

#logo path:nth-child(7) {
    stroke-dasharray: 629.9188232421875;
    stroke-dashoffset: 629.9188232421875;
    animation: line-anim 2s ease forwards 1.8s;  
}

@keyFrames line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyFrames fill {
    from {
        fill: transparent;
    }
    to {
        fill: #F2F2F2;
    }
}
