html {
  width: 100%;
  height: 100%;
  background: #ecf0f3;
  overflow: hidden;
  position: relative;
  /* background: linear-gradient(#8C8C8C, #404040 ); */

  
}

body {
  margin: 0;
  height: 100vh;
  font-family: Bookman Old Style; 
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(#8C8C8C, #404040 ); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
